body {
    font-family: "Roboto",sans-serif;
    color: #2E2F42;
    background-color: white;
}
:root{
    --secondary-font:"Raleway",sans-serif;
    --iris:#4D5AE5;
    --ocean:#404BBF;
    --navy-blue:#2E2F42;
    --green:#31D0AA;
    --slate:#434455;
    --light-slate:#8E8F99;
    --cornflower:#E7E9FC;
    --cloud:#F4F4FD;
    --navy-blue-modal:rgba(46, 47, 66, 0.4);
    --grey:rgba(46, 47, 66, 0.7);
    --white:#FFFFFF;
}
a,
li {
    list-style-type: none;
    text-decoration: none;
}
.logo{
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height:1.33;
    letter-spacing: 0.03em;
    color: var(--iris);
}
.web{
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--navy-blue);
}
.header {

}
.header-nav:focus,
.header-nav:hover {
    color: var(--ocean);
}

.header-list {

}
.header-list:focus,
.header-list:hover{
    color:var(--ocean);
}

.header-item {

}

.header-link {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--navy-blue);
}
.header-link:hover,
.header-link:focus
 {
    color:var(--ocean);
}
.auth-nav {

}

.header-mail {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--slate);
}
.header-mail:hover,
.header-mail:focus{
    color:var(--ocean);
}
.header-tel {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--slate);
}
.header-tel:hover,
.header-tel:focus{
    color:var(--ocean);
}
.hero{
    background:var(--navy-blue);
}
.hero-headline{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color:var(--white);
}
.hero-btn{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    border: 1px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color:var(--white);
    background:var(--iris);
    cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
    background-color:var(--ocean);
}
.hero-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:var(--navy-blue);
}
.hero-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--slate);
}
.main{
    background-color: #FFFFFF;
}
.main-text{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:var(--navy-blue);
}
.section-fon{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:var(--navy-blue);   
}
.section-item {
    background:var(--white);

}

.section-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2px;
    letter-spacing: 0.02em;
    color:var(--navy-blue);
}

.section-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--slate);
}
.footer {
    background:var(--navy-blue);
}

.footer-logo {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--iris);
}

.footer-web {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--cloud);
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--cornflower);
}
.btn {
    
}

.btn-item-text{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--iris);
    border: 1px;
    text-transform: uppercase;
    cursor: pointer;
    background: var(--cloud);
}
.btn-item-text:hover{
    font-family: 'Roboto';
    background-color: var(--ocean);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}
.btn-item {

}

.apps {

}

.apps-photo {

}

.apps-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:var(--navy-blue);
}

.apps-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--slate);
}
.visually-hidden {
    position: absolute;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    width: 1px;
}